
body {
    background-color: rgb(235, 222, 222);
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    align-content: stretch;
  }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    background-color: rgb(75, 12, 12);
}


nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

}

nav ul li a {
    color: rgb(253, 228, 228);
}

nav ul li a:visited:hover{
    color: rgb(206, 122, 122);

}

main{
    max-width: 700px;
    margin: auto;

}

main p {   
    font-size: 0.8em;
    max-width: 700px;
    margin: auto;
    margin-block-start: 2em;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(102, 20, 20);
}


h1 {
    color: rgb(6, 6, 24);
    
}

h2 {
    margin-block-start: 1.5em;
    color:rgb(82, 17, 17);
    font-size: 1.2em;

}

main form {
    margin-left: 40px;
}

main form input {
    margin-right: 40px;
}

footer {
    background-color: rgb(75, 12, 12);
    margin-block-start: 3em;
}

footer ul {
    text-align: center;
    padding-left: 10px;
}

footer ul li a {
    color: rgb(253, 228, 228);

}

footer ul li a:visited:hover{
    color: rgb(163, 78, 78);

}

footer p {
    color: rgb(253, 228, 228);
    font-size: 0.7em;
    text-align: center;

}